<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div> <a routerLink="/">Logo</a></div>
    <div class="navItems" fxHide.xs>
        <a *ngIf="!isAuthorised" routerLink="/login">Login</a>
        <a *ngIf="!isAuthorised" routerLink="/signup">Signup</a>
        <a *ngIf="isAuthorised" routerLink="/training">Training</a>
        <a *ngIf="isAuthorised" (click)="logout()">Logout</a>
    </div>
</mat-toolbar>